{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('CraftDashboard') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('CraftDashboard') }}
{% endblock %}

{% block body %}

	<div class="fs-2 mb-3">
		Admin Dashboard : Craft
	</div>

	<template id="categoryTemplate">
		<li class="category">
			<div class="categoryHeader">
				<code class="categoryLabel fs-4 align-baseline" draggable="true"></code>
				<span class="mx-1"></span>
				<svg xmlns="http://www.w3.org/2000/svg" width="18" class="align-baseline" fill="currentColor" viewbox="0 0 16 16">
					<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" width="18" class="align-baseline" fill="currentColor" viewbox="0 0 16 16">
					<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
					<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
				</svg>
			</div>
			<div class="categoryChild ps-3" data-tree=""></div>
		</li>
	</template>


	<template id="itemTemplate">
		<div class="item">
			<img class="itemImg" src="{{asset('/img/activedSkill.png')}}">
			<code class="itemLabel fs-4 align-baseline mx-2" draggable="true"></code>
			<svg xmlns="http://www.w3.org/2000/svg" width="18" class="align-baseline" fill="currentColor" viewbox="0 0 16 16">
				<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
			</svg>
			<svg xmlns="http://www.w3.org/2000/svg" width="18" class="align-baseline" fill="currentColor" viewbox="0 0 16 16">
				<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
				<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
			</svg>
		</div>
	</template>


	<div class="modal fade" id="entityModal">
		<div class="modal-dialog">
			<div class="modal-content text-dark">
				<div class="modal-header">
					<h5 class="modal-title"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label class="form-label">Key</label>
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">
						<span class="d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
						<span></span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-6 border p-1">
			<div class="fs-4 m-1">
				Categories :
				<button id="addCategoryBtn" type="button" class="btn btn-sm d-inline btn-primary">New</button>
			</div>
			<ul id="categorySection" class="m-0"></ul>
		</div>
		<div class="col-6 border p-1">
			<div class="d-none" id="itemSection">
				<div class="fs-4 m-1">
					<span></span>
					<button id="addItemBtn" type="button" class="btn btn-sm d-inline btn-primary">New</button>
				</div>
				<div id="itemUl" class="p-2"></div>
			</div>
		</div>
	</div>
{% endblock %}
